/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 17, 2022, 1:52:01 AM
    Author     : Admin
*/

.label_free {
    -fx-background-color :  transparent;
    -fx-border-color: black;
    -fx-background-radius : 10px;
    -fx-border-radius: 10px;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.label_ordered {
    -fx-background-color :  #1c80be;
    -fx-border-color: black;
    -fx-background-radius : 10px;
    -fx-border-radius: 10px;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.label_currentlyUse {
    -fx-background-color :  #0dc56f;
    -fx-border-color: black;
    -fx-background-radius : 10px;
    -fx-border-radius: 10px;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

